# GCP Credentials
.gcp-credentials.json

# Local .terraform directories
**/.terraform

# .tfstate files
*.tfstate
*.tfstate.*

# node_modules
**/node_modules

# package-lock.json
**/package-lock.json

# dist dirs
**/dist